* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.904);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.circle {
    z-index: 10;
    box-shadow: 3px 0 10px rgba(250, 235, 215, 0.39);
    position: absolute;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    background-color: antiquewhite;
    border-radius: 100%;
    user-select: none;
    transition: transform 0.1s ease;
    &:hover {
        cursor: grab;
        transform: scale(1.1);
    }
}

.drag {
    cursor: grabbing !important;
    transform: scale(1.05) !important;
    pointer-events: none;
}

.drop-container {
    padding: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(29, 29, 29);
    list-style: none;
}

.drop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid black;
    transition: all 200ms ease;
}

.dropping {
    border: 2px solid white !important;
}
